<h2> 2017</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2017arXiv170407421K>Community targets for JWST's early release science program: evaluation of WASP-63b</a></b>   (2017)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Kilpatrick, B.M. ; Cubillos, P.E. ; Stevenson, K.B. ;
Lewis, N.K. ; Wakeford, H. ; Macdonald, R.J. ;
Madhusudhan, N. ; Blecic, J. ; Bruno, G. ; Burrows, A. ;
Deming, D. ; Heng, K. ; Line, M.R. ; Morley, C.V. ;
Parmentier, V. ; Tucker, G.S. ; Valenti, J.A. ;
Waldmann, I.P. ; Bean, J.L. ; Beichman, C. ; Fraine, J. ;
Krick, J.E. ; Lothringer, J.D. ; M;ell, A.M.<br><font color="grey">journal: ArXiv e-prints | volume:  | page: 1704.07421</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2017arXiv170405413T>A population study of hot Jupiter atmospheres</a></b>   (2017)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Tsiaras, A. ; Waldmann, I.P. ; Zingales, T. ; Rocchetto, M. ;
Morello, G. ; Damiano, M. ; Karpouzas, K. ; Tinetti, G. ;
McKemmish, L.K. ; Tennyson, J. ; Yurchenko, S.N.<br><font color="grey">journal: ArXiv e-prints | volume:  | page: 1704.05413</font></p> 

<h2> 2016</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2016ApJ...833..120R>Exploring Biases of Atmospheric Retrievals in Simulated JWST Transmission Spectra of Hot Jupiters</a></b>   (2016)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Rocchetto, M. ; Waldmann, I.P. ; Venot, O. ; Lagage, P.-O. ;
Tinetti, G.<br><font color="grey">journal: Astrophysical Journal | volume: 833 | page: 120</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2016ApJ...832..202T>A New Approach to Analyzing HST Spatial Scans: The Transmission Spectrum of HD 209458 b</a></b>   (2016)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Tsiaras, A. ; Waldmann, I.P. ; Rocchetto, M. ;
Varley, R. ; Morello, G. ; Damiano, M. ; Tinetti, G.<br><font color="grey">journal: Astrophysical Journal | volume: 832 | page: 202</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2016SPIE.9904E..1XT>The science of ARIEL (Atmospheric Remote-sensing Infrared Exoplanet Large-survey)</a></b>   (2016)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Tinetti, G. ; Drossart, P. ; Eccleston, P. ; Hartogh, P. ;
Heske, A. ; Leconte, J. ; Micela, G. ; Ollivier, M. ;
Pilbratt, G. ; Puig, L. ; Turrini, D. ; V;enbussche, B. ;
Wolkenberg, P. ; Pascale, E. ; Beaulieu, J.-P. ;
G\"udel, M. ; Min, M. ; Rataj, M. ; Ray, T. ;
Ribas, I. ; Barstow, J. ; Bowles, N. ; Coustenis, A. ;
Coud\'e du Foresto, V. ; Decin, L. ; Encrenaz, T. ;
Forget, F. ; Friswell, M. ; Griffin, M. ; Lagage, P.O. ;
Malaguti, P. ; Moneti, A. ; Morales, J.C. ; Pace, E. ;
Rocchetto, M. ; Sarkar, S. ; Selsis, F. ; Taylor, W. ;
Tennyson, J. ; Venot, O. ; Waldmann, I.P. ; Wright, G. ;
Zingales, T. ; Zapatero-Osorio, M.R.<br><font color="grey">journal:  | volume: 9904 | page: 99041X</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2016ApJ...820..107W>Dreaming of Atmospheres</a></b>   (2016)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Waldmann, I.P.<br><font color="grey">journal: Astrophysical Journal | volume: 820 | page: 107</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2016ApJ...820...99T>Detection of an Atmosphere Around the Super-Earth 55 Cancri e</a></b>   (2016)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Tsiaras, A. ; Rocchetto, M. ; Waldmann, I.P. ;
Venot, O. ; Varley, R. ; Morello, G. ; Damiano, M. ;
Tinetti, G. ; Barton, E.J. ; Yurchenko, S.N. ;
Tennyson, J.<br><font color="grey">journal: Astrophysical Journal | volume: 820 | page: 99</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2016ApJ...820...86M>Repeatability of Spitzer/IRAC Exoplanetary Eclipses with Independent Component Analysis</a></b>   (2016)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Morello, G. ; Waldmann, I.P. ; Tinetti, G.<br><font color="grey">journal: Astrophysical Journal | volume: 820 | page: 86</font></p> 

<h2> 2015</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2015ApJ...813...13W>Tau-REx II: Retrieval of Emission Spectra</a></b>   (2015)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Waldmann, I.P. ; Rocchetto, M. ; Tinetti, G. ;
Barton, E.J. ; Yurchenko, S.N. ; Tennyson, J.<br><font color="grey">journal: Astrophysical Journal | volume: 813 | page: 13</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2015ExA....40..655M>Scheduling the EChO survey with known exoplanets</a></b>   (2015)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Morales, J.C. ; Beaulieu, J.-P. ; Coud\'e du Foresto, V. ;
Ollivier, M. ; Castello, I.O. ; Cl\'edassou, R. ;
Jaubert, J. ; Van-Troostenberghe, P. ; Varley, R. ;
Waldmann, I.P. ; Pascale, E. ; Tessenyi, M.<br><font color="grey">journal: Experimental Astronomy | volume: 40 | page: 655-670</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2015ExA....40..639W>Data analysis pipeline for EChO end-to-end simulations</a></b>   (2015)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Waldmann, I.P. ; Pascale, E.<br><font color="grey">journal: Experimental Astronomy | volume: 40 | page: 639-654</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2015ExA....40..621V>Generation of an optimal target list for the exoplanet characterisation observatory (EChO)</a></b>   (2015)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Varley, R. ; Waldmann, I. ; Pascale, E. ; Tessenyi, M. ;
Hollis, M. ; Morales, J.C. ; Tinetti, G. ; Swinyard, B. ;
Deroo, P. ; Ollivier, M. ; Micela, G.<br><font color="grey">journal: Experimental Astronomy | volume: 40 | page: 621-638</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2015ExA....40..601P>EChOSim: The Exoplanet Characterisation Observatory software simulator</a></b>   (2015)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Pascale, E. ; Waldmann, I.P. ; MacTavish, C.J. ;
Papageorgiou, A. ; Amaral-Rogers, A. ; Varley, R. ;
Coud\'e du Foresto, V. ; Griffin, M.J. ; Ollivier, M. ;
Sarkar, S. ; Spencer, L. ; Swinyard, B.M. ; Tessenyi, M. ;
Tinetti, G.<br><font color="grey">journal: Experimental Astronomy | volume: 40 | page: 601-619</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2015ExA....40..427E>The EChO payload instrument - an overview</a></b>   (2015)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Eccleston, P. ; Swinyard, B. ; Tessenyi, M. ; Tinetti, G. ;
Waldmann, I. ; Ferlet, M. ; Irshad, R. ; Lim, T. ;
Middleton, K. ; Bradshaw, T. ; Crook, M. ; Hunt, T. ;
Winter, B. ; Bryson, I. ; Bezawada, N. ; Taylor, W. ;
Bowles, N. ; Pascale, E. ; Morgante, G. ; Pace, E. ;
Adriani, A. ; Reess, J.-M. ; Ollivier, M. ; Ottensamer, R. ;
Rataj, M. ; Zapata, G.R. ; Schrader, J.-R. ; Selig, A. ;
Isaak, K. ; Linder, M. ; Puig, L.<br><font color="grey">journal: Experimental Astronomy | volume: 40 | page: 427-447</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2015ExA....40..329T>The EChO science case</a></b>   (2015)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Tinetti, G. ; Drossart, P. ; Eccleston, P. ; Hartogh, P. ;
Isaak, K. ; Linder, M. ; Lovis, C. ; Micela, G. ;
Ollivier, M. ; Puig, L. ; et al.<br><font color="grey">journal: Experimental Astronomy | volume: 40 | page: 329-391</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2015IAUGA..2252365R>A statistical look at the retrieval of exoplanetary atmospheres of super Earths and giant planets</a></b>   (2015)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Rocchetto, M. ; Waldmann, I.P. ; Tinetti, G. ;
Yurchenko, S. ; Tennyson, J.<br><font color="grey">journal: IAU General Assembly | volume: 22 | page: 2252365</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2015ApJ...802..117M>Revisiting Spitzer Transit Observations with Independent Component Analysis: New Results for the GJ 436 System</a></b>   (2015)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Morello, G. ; Waldmann, I.P. ; Tinetti, G. ; Howarth, I.D. ;
Micela, G. ; Allard, F.<br><font color="grey">journal: Astrophysical Journal | volume: 802 | page: 117</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2015ApJ...802..107W>Tau-REx I: A Next Generation Retrieval Code for Exoplanetary Atmospheres</a></b>   (2015)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Waldmann, I.P. ; Tinetti, G. ; Rocchetto, M. ;
Barton, E.J. ; Yurchenko, S.N. ; Tennyson, J.<br><font color="grey">journal: Astrophysical Journal | volume: 802 | page: 107</font></p> 

<h2> 2014</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2014ApJ...796...48Z>The Ground-based H-, K-, and L-band Absolute Emission Spectra of HD 209458b</a></b>   (2014)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Zellem, R.T. ; Griffith, C.A. ; Deroo, P. ; Swain, M.R. ;
Waldmann, I.P.<br><font color="grey">journal: Astrophysical Journal | volume: 796 | page: 48</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2014ApJ...792L..31L>Rossiter-McLaughlin Observations of 55 Cnc e</a></b>   (2014)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Lopez-Morales, M. ; Triaud, A.H.M.J. ; Rodler, F. ;
Dumusque, X. ; Buchhave, L.A. ; Harutyunyan, A. ;
Hoyer, S. ; Alonso, R. ; Gillon, M. ; Kaib, N.A. ;
Latham, D.W. ; Lovis, C. ; Pepe, F. ; Queloz, D. ;
Raymond, S.N. ; S\'egransan, D. ; Waldmann, I.P. ;
Udry, S.<br><font color="grey">journal: Astrophysical Journall | volume: 792 | page: L31</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2014SPIE.9143E..2ES>Design and performance of the Exo-planet Characterisation Observatory (EChO) integrated payload</a></b>   (2014)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Swinyard, B. ; Tessenyi, M. ; Tinetti, G. ; Waldmann, I. ;
Eccleston, P. ; Ferlet, M. ; Irshad, R. ; Lim, T. ;
Middleton, K. ; Bradshaw, T. ; Crook, M. ; Hunt, T. ;
Winter, B. ; Bryson, I. ; Bezawada, N. ; Taylor, W. ;
Bowles, N. ; Pascale, E. ; Morgante, G. ; Pace, E. ;
Adriani, A. ; Reess, J.-M. ; Drossart, P. ; Coud\'e du Foresto, V. ;
Ollivier, M. ; Ottensamer, R. ; Rataj, M. ; Ramos Zapata, G. ;
Schrader, J.-R. ; Selig, A. ; Isaak, K. ; Linder, M. ;
Puig, L. ; Hartogh, P. ; Lovis, C. ; Micela, G. ;
Ribas, I. ; Snellen, I. ; Beaulieu, J.-P.<br><font color="grey">journal:  | volume: 9143 | page: 91432E</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2014ApJ...785...35D>0.94-2.42 {$\mu$}m Ground-based Transmission Spectra of the Hot Jupiter HD-189733b</a></b>   (2014)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Danielski, C. ; Deroo, P. ; Waldmann, I.P. ; Hollis, M.D.J. ;
Tinetti, G. ; Swain, M.R.<br><font color="grey">journal: Astrophysical Journal | volume: 785 | page: 35</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2014ApJ...780...23W>On Signals Faint and Sparse: The ACICA Algorithm for Blind De-trending of Exoplanetary Transits with Low Signal-to-noise</a></b>   (2014)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Waldmann, I.P.<br><font color="grey">journal: Astrophysical Journal | volume: 780 | page: 23</font></p> 

<h2> 2013</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2013ApJ...766....7W>Blind Extraction of an Exoplanetary Spectrum through Independent Component Analysis</a></b>   (2013)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Waldmann, I.P. ; Tinetti, G. ; Deroo, P. ; Hollis, M.D.J. ;
Yurchenko, S.N. ; Tennyson, J.<br><font color="grey">journal: Astrophysical Journal | volume: 766 | page: 7</font></p> 

<h2> 2012</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2012ExA....34..311T>EChO. Exoplanet characterisation observatory</a></b>   (2012)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Tinetti, G. ; Beaulieu, J.P. ; Henning, T. ; Meyer, M. ;
Micela, G. et al.<br><font color="grey">journal: Experimental Astronomy | volume: 34 | page: 311-353</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2012RSPTA.370.2749T>Water in exoplanets</a></b>   (2012)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Tinetti, G. ; Tennyson, J. ; Griffith, C.A. ; Waldmann, I.<br><font color="grey">journal: Philosophical Transactions of the Royal Society of London Series A | volume: 370 | page: 2749-2764</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2012ApJ...747...12W>Of ``Cocktail Parties'' and Exoplanets</a></b>   (2012)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Waldmann, I.P.<br><font color="grey">journal: Astrophysical Journal | volume: 747 | page: 12</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2012ApJ...744...35W>Ground-based Near-infrared Emission Spectroscopy of HD 189733b</a></b>   (2012)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Waldmann, I.P. ; Tinetti, G. ; Drossart, P. ; Swain, M.R. ;
Deroo, P. ; Griffith, C.A.<br><font color="grey">journal: Astrophysical Journal | volume: 744 | page: 35</font></p> 

<h2> 2011</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2011ApJ...731...16B>Methane in the Atmosphere of the Transiting Hot Neptune GJ436B?</a></b>   (2011)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Beaulieu, J.-P. ; Tinetti, G. ; Kipping, D.M. ;
Ribas, I. ; Barber, R.J. ; Cho, J.Y.-K. ; Polichtchouk, I. ;
Tennyson, J. ; Yurchenko, S.N. ; Griffith, C.A. ;
Batista, V. ; Waldmann, I. ; Miller, S. ; Carey, S. ;
Mousis, O. ; Fossey, S.J. ; Aylward, A.<br><font color="grey">journal: Astrophysical Journal | volume: 731 | page: 16</font></p> 

<h2> 2010</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2010FaDi..147..369T>Exploring extrasolar worlds: from gas giants to terrestrial habitable planets</a></b>   (2010)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Tinetti, G. ; Griffith, C.A. ; Swain, M.R. ; Deroo, P. ;
Beaulieu, J.P. ; Vasisht, G. ; Kipping, D. ; Waldmann, I. ;
Tennyson, J. ; Barber, R.J. ; Bouwman, J. ; Allard, N. ;
Brown, L.R.<br><font color="grey">journal: Faraday Discussions | volume: 147 | page: 369</font></p> 

<p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2010MNRAS.407..507C>Line-profile tomography of exoplanet transits - II. A gas-giant planet transiting a rapidly rotating A5 star</a></b>   (2010)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Collier Cameron, A. ; Guenther, E. ; Smalley, B. ;
McDonald, I. ; Hebb, L. ; Andersen, J. ; Augusteijn, T. ;
Barros, S.C.C. ; Brown, D.J.A. ; Cochran, W.D. ;
Endl, M. ; Fossey, S.J. ; Hartmann, M. ; Maxted, P.F.L. ;
Pollacco, D. ; Skillen, I. ; Telting, J. ; Waldmann, I.P. ;
West, R.G.<br><font color="grey">journal: Mon. Notice of Royal Astron. Soc. | volume: 407 | page: 507-514</font></p> 

<h2> 2009</h2><p style="margin-left: 40px;font-weight: bold"><li><b><a target="_blank" href=http://adsabs.harvard.edu/abs/2009MNRAS.396L..16F>Detection of a transit by the planetary companion of HD 80606</a></b>   (2009)</li></p>
<p style="margin-left: 70px;line-height: 95%;">Fossey, S.J. ; Waldmann, I.P. ; Kipping, D.M.<br><font color="grey">journal: Mon. Notice of Royal Astron. Soc. | volume: 396 | page: L16-L20</font></p> 

